.med-info {
  background-color: #2b2b2b;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.med-info {
  padding-top: 8rem;
  font-size: 3rem;
}

.show-wrapper {
  background-color: #2b2b2b;
  width: 100%;
}

.show {
  margin: auto;
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  font-size: 3rem;
}
.show p {
  font-size: 1.4rem;
}

.show h1 {
  margin: 2rem;
}

.show a {
  padding: 1rem 2rem;
  border: 2px solid #ddd;
  margin: 2rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #ddd;
  font-size: 1.4rem;
}

.show a:hover {
  background-color: #ddd;
  color: black;
}

img {
  width: 100%;
}

.info-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 7rem;
}
.info-card {
  margin: auto;
  max-width: 70%;
  padding: 5rem;
  background-color: #ddd;
  max-height: 40rem;
  color: black;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

.info-card-img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-10rem);
  position: relative;
}

.info-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.info-card-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(154, 79, 255, 0.3)
  );
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.info-card-title {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #994fff;
}

.info-card span {
  font-size: 1.7rem;
  display: block;
  font-weight: 100;
}

.info-card p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.info-card a {
  font-size: 1.3rem;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 1rem;
  transition: 0.5s ease;
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(154, 79, 255, 0.7)
  );
}

.info-card a:hover {
  color: black;
}
